.skeleton-image {
  width: 100% !important;
  height: 240px !important;
}
/* Skeleton Image */
.skeleton-image {
  width: 100% !important;
  height: 240px !important;
}

/* Input Skeleton 1 */
.input__skaleton {
  width: 80% !important;
  display: block !important;
  height: 20px !important;
  margin-top: 15px !important;
}

/* Input Skeleton 2 */
.input__skaleton2 {
  width: 80% !important;
  height: 20px !important;
  display: block !important;
  margin-top: 15px !important;
}

/* Input Skeleton 3 */
.input__skaleton3 {
  width: 60% !important;
  height: 20px !important;
  display: block !important;
  margin-top: 15px !important;
}
